  <div class="container ">
    <div class="row">
      <div class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-header">
            <h5>Input Data kamus mufrodat</h5>
          </div>
          <div class="card-body">
              <form action="/inputdata/kamus.kelola" method="post" class="">
                <div class="input-group input-group-sm mb-3 was-validated">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kata</span>
                  <input <% if (typeof dt != 'undefined') { %>
                   value ="<%- dt.kata %>"
                  <% } %> name="Kata" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                  <div class="invalid-feedback">
                    Bidang tidak boleh kosong
                  </div>
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Penjelasan</span>
                  <input <% if (typeof dt != 'undefined') { %>
                   value ="<%- dt.penjelasan %>"
                  <% } %> name="Penjelasan" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3 was-validated">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kata kunci</span>
                  <input <% if (typeof dt != 'undefined') { %>
                   value ="<%- dt.kataPencarian %>"
                  <% } %> name="kataKunci" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" required>
                  <div class="invalid-feedback">
                    Bidang tidak boleh kosong
                  </div>
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kata asal</span>
                  <input <% if (typeof dt != 'undefined') { %>
                   value ="<%- dt.akarKata %>"
                  <% } %> name="kataAsal" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Arti</span>
                  <textarea name="Arti" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"><% if (typeof dt != 'undefined') { %>
                    <%- dt.arti %>
                   <% } %> </textarea>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <% if (typeof dt != 'undefined') { %>
                    <button class="btn btn-primary" type="submit">Perbaharui</button>
                    <% } else { %>
                      <button class="btn btn-primary" type="submit">Simpan</button>
                  <% } %>
                </div>
              </form>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card">
          <div class="card-header">
            <h5>Input Data kamus mufrodat</h5>
          </div>
          <div class="card-body">
              <form action="/inputdata/soal.kelola" method="post">
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kata kunci</span>
                  <input name="kataKunci" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kata</span>
                  <input name="Kata" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Kata asal</span>
                  <input name="kataAsal" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Penjelasan</span>
                  <input name="Penjelasan" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-sm mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Arti</span>
                  <input name="Arti" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button class="btn btn-primary" type="submit">Simpan</button>
                </div>
              </form>
          </div>
          <div class="card-footer">
            <p><span></span> Kata tersedia</p>
          </div>
        </div>
      </div>
    </div>
  </div>